# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.env
*.venv

# Virtual environments
.venv/
venv/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# Azure & build artifacts
.azure/
oryx-manifest.toml
oryx-app.json

# Logs
*.log

# System files
.DS_Store
Thumbs.db
